.chat {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 500;
}

.chat__title {
	margin: 0;
	font-family: Impact;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
}

.chat__title-gray {
	color: rgb(128, 128, 128);
}

.chat__box {
	margin: 0 auto;
	margin-top: 25px;
	padding: 10px;
	background-color: rgb(207, 179, 179);
	width: 87%;
	/*max-height: 90dvh;*/
	border-radius: 4px;
	display: grid;
	grid-template-columns: 4fr 1fr;
	column-gap: 10px;
	row-gap: 5px;
	grid-template-areas:
		"header header"
		"left right"
		"footer footer";
}

.chat__messages-pane {
	overflow-y: hidden;
	background-color: rgb(173, 252, 128);
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: repeat(16, 1fr);
	row-gap: 2px;
}

.chat__users-pane {
	overflow-y: hidden;
	background-color: rgb(173, 252, 128);
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: repeat(16, 1fr);
	row-gap: 2px;
}

.chat__wmessage {
	line-height: 200%;
	text-align: center;
}

.chat__cell {
	height: 29px;
	background-color: rgb(255, 255, 255);
}

.chat__cell-time {
	background-color: rgb(224, 154, 154);
}

/* При адаптивности надо hmax поделить на высоту ячейки, округлить до целого числа и использовать это число как количество строк, на которое делится высота панели, заполняющих панель, но с разным промежутком, т.к. число не целое. Посмотреть, auto-fill  - это тоже самое ? */

.chat__form {
	display: flex;
	align-items: center;
	grid-area: footer;
}

/* сделать адаптивную высоту инпута */

.chat__username {
	margin-right: 4px;
	padding: 7px;
	width: 85px;
	border: 1px solid rgb(159, 81, 36);
	border-radius: 13px 0 0 13px;
}

.chat__input {
	padding: 0;
	margin: 0;
	margin-right: 2px;
	width: 82%;
	height: 28px;
	/*border-radius: 4px 0 0 4px;*/
}

.chat__submit-button {
	width: 75px;
	height: 29px;
	background-color: rgb(138, 43, 226, 1);
	border-radius: 0 13px 13px 0;
}

.chat__username:hover {
	opacity: .7;
}

.chat__input:hover,
.chat__input:focus {
	outline: 1px solid rgb(159, 81, 36);
}

.chat__submit-button:hover {
	background-color: rgb(138, 43, 226, .7);
}