.chat {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 500;
}

.chat__title {
	margin: 0;
	font-family: Impact;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
}

.chat__box {
	margin: 0 auto;
	margin-top: 25px;
	padding: 10px;
	background-color: rgb(207, 179, 179);
	width: 87%;
	height: 81dvh;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 4fr 1fr;
	column-gap: 10px;
	row-gap: 5px;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"left right"
		"footer footer";
}

.chat__wmessage {
	text-align: center;
}

.chat__messages-pane {
	overflow-y: hidden;
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-rows: repeat(34, 1fr);
}

.chat__users-pane {
	overflow-y: hidden;
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-rows: repeat(34, 1fr);
}

.chat__form {
	display: flex;
	align-items: center;
	grid-area: footer;
}

/* сделать адаптивную высоту инпута */

.chat__username {
	margin-right: 4px;
	padding: 7px;
	width: 85px;
	border: 1px solid rgb(159, 81, 36);
	border-radius: 13px 0 0 13px;
}

.chat__username:hover {
	opacity: .7;
}

.chat__input {
	margin-right: 2px;
	width: 82%;
	height: 28px;
	border-radius: 4px 0 0 4px;
}

.chat__input:hover,
.chat__input:focus {
	outline: 1px solid rgb(159, 81, 36);
}

.chat__submit-button {
	width: 75px;
	height: 30px;
	background-color: rgb(138, 43, 226, 1);
	border-radius: 0 13px 13px 0;
}

.chat__submit-button:hover {
	background-color: rgb(138, 43, 226, .7);
}